/*
 * Client API
 * API called by backend
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.aixtra.couchcode.client.challenge.api;

import io.micronaut.http.annotation.*;
import io.micronaut.http.client.annotation.Client;
import reactor.core.publisher.Mono;
import javax.annotation.Generated;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2022-10-22T18:01:35.219427+02:00[Europe/Berlin]")
@Client("${backend.baseUrl}")
public interface RatingApi {
    /**
     * Register for the next rating run, in order to compete with the other teams. A rating run is scheduled at every hour sharp. After a rating runs finished, a team has to re-register for the next rating run. A re-registration for the same rating-run will result in a Bad-Request Exception
     *
     */
    @Post(uri="/api/rating/register")
    Mono<Void> register();

}
