/*
 * Client API
 * API called by backend
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.aixtra.couchcode.client.challenge.api;

import io.micronaut.http.annotation.*;
import io.micronaut.http.client.annotation.Client;
import reactor.core.publisher.Mono;
import com.aixtra.couchcode.client.challenge.model.TaskDifficulty;
import com.aixtra.couchcode.client.challenge.model.TaskWithSolution;
import javax.annotation.Generated;

import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2022-10-22T18:01:35.219427+02:00[Europe/Berlin]")
@Client("${openapi-micronaut-client-base-path}")
public interface TasksApi {
    /**
     * Generate a new task
     *
     * @param difficulty The difficulty of the generated task (required)
     * @return TaskWithSolution
     */
    @Post(uri="/api/tasks/{difficulty}")
    @Consumes({"application/json"})
    Mono<TaskWithSolution> generateTask(
        @PathVariable(name="difficulty") @NotNull TaskDifficulty difficulty
    );

}
