/*
 * Client API
 * API called by backend
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.aixtra.couchcode.client.challenge.api;

import com.aixtra.couchcode.client.challenge.model.TaskDifficulty;
import com.aixtra.couchcode.client.challenge.model.TaskWithSolution;
import com.aixtra.couchcode.client.oauth.BearerStore;
import io.micronaut.http.annotation.Consumes;
import io.micronaut.http.annotation.Header;
import io.micronaut.http.annotation.PathVariable;
import io.micronaut.http.annotation.Post;
import io.micronaut.http.client.annotation.Client;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import reactor.core.publisher.Mono;

import javax.annotation.Generated;
import javax.validation.constraints.NotNull;

import static io.micronaut.http.HttpHeaders.AUTHORIZATION;

@Generated(value = "org.openapitools.codegen.languages.JavaMicronautClientCodegen", date = "2022-10-22T18:01:35.219427+02:00[Europe/Berlin]")
@Client("${openapi-micronaut-client-base-path}")
public abstract class TasksApi {
    private static final Logger LOGGER = LoggerFactory.getLogger(TasksApi.class);
    private final BearerStore store;

    TasksApi(BearerStore store) {
        this.store = store;
    }

    public Mono<TaskWithSolution> generateTask(TaskDifficulty difficulty) {
        String currentBearer = store.currentBearerAsAuth();
        LOGGER.info("Generating Task wit Difficulty {} with Token: {}...", difficulty, currentBearer.substring(7, 15));
        return Mono.defer(() -> generateTask(currentBearer, difficulty));
    }

    /**
     * Generate a new task
     *
     * @param difficulty The difficulty of the generated task (required)
     * @return TaskWithSolution
     */
    @Post(uri = "/api/tasks/{difficulty}")
    @Consumes({"application/json"})
    abstract Mono<TaskWithSolution> generateTask(
            @Header(AUTHORIZATION) String authorization,
            @PathVariable(name = "difficulty") @NotNull TaskDifficulty difficulty
    );

}
